---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const pageTitle: string = "博客"
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

<body>
    <Navigation />
  
    <h1>{pageTitle}</h1>
    <p>在这里，我将分享我的 Astro 学习之旅。</p>
    <ul>
        <li><a href="/posts/post-1">文章1</a></li>
        <li><a href="/posts/post-2">文章2</a></li>
        <li><a href="/posts/post-3">文章3</a></li>
    </ul>
  </body>
  <Footer />
</html>