---
const platform = "github";
const username = "zj8789743";
---

<footer style="position: fixed; bottom: 0; width: 100%; margin: px 0; background-color: #ccc; display: flex; justify-content: center; align-items: center;">
  <p>在 <a href={`https://www.${platform}.com/${username}`}>{platform}</a> 上，了解有关我的项目的更多信息！</p>
</footer>